tests/Diffa.MSTest/Samples/xmlSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="sample"
    targetNamespace="http://tempuri.org/sample.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/sample.xsd"
    xmlns:mstns="http://tempuri.org/sample.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="person">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="age" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>